[2020-09-01 14:35] jwoosnam opened #1 "stage-pads.pep-web.rocks not working"

[2020-09-01 14:36] jwoosnam commented on #1
Load balancer not wired up correctly

[2020-09-02 12:57] adistasio opened #2 "CORS Issue"
We are getting CORS issues trying to hit the PaDS site.

`Access to XMLHttpRequest at 'https://stage-pads.pep-web.rocks/PEPSecure/api/v1/Authenticate/?grant_type=password&UserName=&Password=' from origin 'http://gavant.pep-web.rocks:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the reque

[2020-09-02 13:00] bakerac4 commented on #2
It seems the main API mirrors the requesting domain for the access-control-allow-origin for all calls. That would be ideal

[2020-09-02 13:01] adistasio commented on #2
![Screen Shot 2020-09-02 at 8 58 22 AM](https://user-images.githubusercontent.com/3603329/91986580-dc496c80-ecfa-11ea-9e1b-3c836625981a.png)

[2020-09-02 14:27] jwoosnam commented on #2
I have done some googling and have added the following to my web.config file:
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="gavant.pep-web.rocks:4200" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-A

[2020-09-02 14:41] jwoosnam commented on #2
`    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="gavant.pep-web.rocks:4200" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>`

[2020-09-02 16:17] bakerac4 commented on #2
@jwoosnam slightly different error

`Access to XMLHttpRequest at 'https://stage-pads.pep-web.rocks/PEPSecure/api/v1/Authenticate/?grant_type=password&UserName=###&Password=###' from origin 'http://gavant.pep-web.rocks:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The 'Access-Control-Allow-Origin' header has a value 'gavant.pep-web.rocks:420

[2020-09-02 16:52] jwoosnam commented on #2
OK - for now I have set it to * which should allow any traffic...

[2020-09-02 18:59] bakerac4 commented on #2
@jwoosnam thank you.

Slightly different error now

`Access to XMLHttpRequest at 'https://stage-pads.pep-web.rocks/PEPSecure/api/v1/Authenticate/?grant_type=password&UserName=Test1&Password=Zedra001' from origin 'http://gavant.pep-web.rocks:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.`

[2020-09-02 19:45] jwoosnam commented on #2
When I run it in Postman it seems to come back with a 200?
<img width="772" alt="Screenshot 2020-09-02 at 20 40 12" src="https://user-images.githubusercontent.com/70103034/92029219-26633a00-ed5d-11ea-9786-953cda728def.png">

[2020-09-02 19:53] nrshapiro commented on #2
@bakerac4  @jwoosnam

The port number must also be part of the CORS_ORIGINS patterns accepted to make it work like you are on the same origin.  Or work without the port number and it should work.

[2020-09-03 11:32] bakerac4 commented on #2
@jwoosnam I think you were looking at the actual request, and not the OPTIONS request that happens before (the preflight request)

https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request

An OPTIONS request is sent by the browser before the actual request is sent. And its that OPTIONS request that must not be coming back with a 200.

[2020-09-03 11:33] jwoosnam commented on #2
I have changed it to http://gavant.pep-web.rocks:4200 as I think you have to specify a single URL if Credentials is enabled.

[2020-09-03 11:39] bakerac4 commented on #2
@jwoosnam I just tried it - looks like the same error still.

`Access to XMLHttpRequest at 'https://stage-pads.pep-web.rocks/PEPSecure/api/v1/Authenticate/?grant_type=password&UserName=Test1&Password=Zedra001' from origin 'http://gavant.pep-web.rocks:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.`

[2020-09-03 16:09] jwoosnam commented on #2
Until two days ago I had very little need to know much about CORS, so I have been trying to catch up. Having done more reading it is clear that this needs to be added to the PaDS server.  Initially I thought the request to put PaDS on the same domain would solve the problem, but it is now very clear that this will not work if any part of the URL is different.

This is going to require configuratio

[2020-09-04 08:24] #1 closed, assigned to nobody

[2020-09-04 08:38] jwoosnam commented on #2
@bakerac4 I have implemented a new version that should be CORS compliant from http://gavant.pep-web.rocks:4200.  Please let me know if I need to add other URLs

[2020-09-04 09:15] jwoosnam opened #3 "Authenticate vs Oauth2"
@adistasio @adistasio
I hope we have now got a version of authenticate that works from your client.

In my initial implementation of the Oauth api is still in place, but my continued reading to get CORS working makes me realise that it is a fairly crude implementation of the Oauth standard and will undoubtedly need more work.  So my question is do we actually need to implement Oauth for the very s

[2020-09-04 12:06] bakerac4 commented on #2
@jwoosnam unfortunately Im still seeing an error - but hopefully this one will be quick.

`Access to XMLHttpRequest at 'https://stage-pads.pep-web.rocks/PEPSecure/api/v1/Authenticate/?grant_type=password&UserName=Test1&Password=Zedra001' from origin 'http://gavant.pep-web.rocks:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The value of the

[2020-09-04 12:38] nrshapiro opened #4 "Admin Privileges"
Looking down the road a few alphas, we will need to have some user accounts logging into the client flagged with Admin privileges so they may do the tasks in the **_Admin_** section of the client app which allows configuration of the settings.  I presume that's already built into PaDS because I know some accounts (I have one) can see reports etc.

But as part of your handshaking with the Client, P

[2020-09-04 13:54] jwoosnam commented on #2
@bakerac4 thanks for your patience. I have changed the settings again!
<img width="491" alt="Screenshot 2020-09-04 at 14 50 29" src="https://user-images.githubusercontent.com/70103034/92246972-6e4da280-eebe-11ea-8ddd-4cb1a67100fc.png">

[2020-09-04 14:40] nrshapiro opened #5 "PaDS Authenticate Version 1 is broken - /v1/Authenticate"
Changes to implement Oauth2 have broken the old login my test suite for the server uses.  Perhaps the new login should have been v2?

But it's not a big deal...we need client login most importantly, if the old code can't be mapped to v1, and the new to v2, just ignore. (Or make the old way v0?)

Output: PaDS response error: {'Message': "The request contains an entity body but no Content-Type heade

[2020-09-04 19:24] bakerac4 commented on #2
Ok I think I have it working. Thanks for your help! @adistasio you should be able to resolve this

[2020-09-08 14:37] #2 closed, assigned to bakerac4, jwoosnam

[2020-09-09 19:31] billdami opened #6 "User client settings tweaks"
It looks like, for the current endpoint in the docs, the `GET /Users` endpoint has a typo for the client settings field, `CleintSettings`.

https://app.swaggerhub.com/apis/JWoosnam/PEPSecure/1.02#/developers/getUsers

Also, I noticed this field is currently defined as a `string`. Is there any chance we could have that accept and return an actual freeform JSON object? E.g.
[code]

If this is not fe

[2020-09-10 06:45] jwoosnam commented on #6
Thanks Bill.  I have adjusted Github for the typo and ClientSettings and will add a Users PUT in due course.

[2020-09-10 16:10] billdami commented on #6
@jwoosnam Thanks James. I also noticed a possible issue with the current `GET /Users/?SessionId={string}` endpoint on the stage site:

After logging in with the 'Test4' user, I attempt to make a request to that endpoint with:
[code]
And get back:
[code]

Should this endpoint be working on staging yet?

[2020-09-11 13:18] jwoosnam commented on #6
The new definition as described in Github wont be on stage until next week.
James

[2020-09-17 14:16] jwoosnam commented on #6
@billdami I new version of the API has now been released to Stage.  This should now correspond to the swaggerhub definition

[2020-09-17 14:16] #5 closed, assigned to nobody

[2020-09-17 14:17] jwoosnam commented on #3
Oauth comparability will no longer be used

[2020-09-17 14:17] #3 closed, assigned to nobody

[2020-09-17 14:43] jwoosnam opened #7 "PEP Secure PaDS v06.04e - Released to stage"
I have just released an updated version of the pep secure API.

The biggest change is that authenticate no longer excepts a GET, only a POST, with the user ID and password as part of the body.  Also there is an Authenticate/IP, which returns just the session Id if the IP address is not known.

It also updates the users API to allow the reading and writing of client settings.

 [Swagger](https://ap

[2020-09-17 16:31] billdami commented on #7
@jwoosnam it looks like on current stage, the new /Users/?SessionId={string} endpoint is returning XML for successful requests instead of JSON, and it may not have the correct CORS Access-Control-Allow-Origin header either, not 100% sure on that part though.

[2020-09-17 20:16] billdami commented on #6
@jwoosnam see my comment on #7 it appears that endpoint is returning XML, and might not have the proper CORS headers set.

[2020-09-18 08:27] jwoosnam commented on #7
@billdami Yes I had missed CORS on the Users API.  That should now be working.
In terms of outputting XML I think this is Microsoft being too clever in that it can out put whatever you like.  If you add a header Accept: application/json it should work, or even Content-Type: application/json.  There must be a way to set the default output but I haven't found it yet.

[2020-09-18 11:59] jwoosnam commented on #7
@billdami @adistasio @adistasio
With a lot of help from Neil the SwaggerHub definition is now up to date.
[PEPSecure v1.02](https://app.swaggerhub.com/apis/nrshapiro/PEPSecure/1.02)

[2020-09-18 13:06] billdami commented on #6
@jwoosnam thanks for resolving the CORS issue on the /Users?SessionId endpoint. Regarding the JSON vs XML, yeah I didn't realize XML was the default if no content-type header was provided, so once I got the endpoint working in the app, which is already sending the `application/json` value, it returned in the correct format.

It looks like the `POST /PEPSecure/api/v1/Users/Logout/` logout endpoint

[2020-09-18 16:31] billdami commented on #6
@jwoosnam it looks like the same CORS issue might be affecting the `PUT /PEPSecure/api/v1/Users/` endpoint as well. Also, does this request look correct to you for updating the user client settings? Its a bit hard to tell as the swagger docs dont show an example body content that i could see:

[code]
Or do you need any other fields in the request body json, such as the `UserId`?

[2020-09-21 10:40] jwoosnam commented on #6
@billdami
CORS should be OK for these URLs: http://gavant.pep-web.rocks:4200, https://stage.pep-web.rocks.  Are you using a different one?

PUT is as follows:  UserId in query string and SessionId and ClientSettings in body.
<img width="866" alt="Screenshot 2020-09-21 at 11 38 52" src="https://user-images.githubusercontent.com/70103034/93757705-21c4cf80-fbff-11ea-8e48-694dd37fab80.png">

[2020-09-21 12:54] billdami commented on #6
Thanks @jwoosnam. Looks like the CORS errors were just a result of me using the endpoints incorrectly, for the PUT /Users I was sending the SessionId in the query string instead of the body. And for the POST /Logout I was sending the SessionId in the body instead of the query string. 😄

Looks like in the swagger docs for the PUT endpoint you had a comment detailing the correct structure so that's

[2020-09-21 12:54] #6 closed, assigned to jwoosnam

[2020-09-23 15:38] jwoosnam commented on #7
@billdami @adistasio @nrshapiro
Latest documentation can be found in:
[PEP Secure 1.03](https://app.swaggerhub.com/apis/nrshapiro/PEPSecure/1.03)

[2020-09-30 18:27] nrshapiro commented on #7
@jwoosnam

Can you please update the permits call in Swagger with the new ReasonForCheck parameter...thanks.

[2020-10-01 14:17] nrshapiro opened #8 "Permit request returns 401 error"
@jwoosnam

Why does the permit request, such as:

https://padstest.zedra.net/PEPSecure/api/v1/Permits?SessionId=6C6584F4-7B7A-4D8B-910A-7B1C0F156AD6&DocId=JOAP.063.0667A&DocYear=2018&ReasonForCheck=AbstractView

return a 401 unauthorized error?

It returns successful permit information.

I think it should return 200 (Ok).  The permit request succeeded.  (Yes, the user's session is not authenticate

[2020-10-01 14:27] nrshapiro opened #9 "session Id for a non-logged-in user"
As I convert the server over to "All PaDS" authentication (used, for example, when the server is also the client, like in the Docs/ interface to it), the issue came up as to "how to get a session id" for a non-logged in user.

I didn't see any way, so I just sent in a login request for the "dummy" account I was recording before when I did my own server authentication...username "NotLoggedIn".  I g

[2020-10-01 15:23] jwoosnam commented on #9
@nrshapiro Gavant call the IP endpoint which either logs them on or just returns an session Id:
https://stage-pads.pep-web.rocks/pepsecure/api/v1/authenticate/ip

[2020-10-02 08:01] jwoosnam commented on #8
@nrshapiro Hi Neil, I have been looking at this but I don't understand the question.  If it is an unauthenticated session then I think it should return on authorised.

[2020-10-05 13:47] nrshapiro commented on #8
@jwoosnam  - but the HTTP response 200 (ok) or 401 (unauthorized) refers to the request, not the true or false nature of the data requested.

What the HTTP code you are returning is for is to show the status of the API request itself.  Not the session status.

Did the call succeed?

Or think of it this way.  The permit request is a server (or client) asking you about a particular session.  It may

[2020-10-05 13:52] nrshapiro commented on #9
@jwoosnam ok, I've done it that way.  You might want to document that.  And you could consider adding a new session endpoint of some sort.

[2020-10-05 14:16] jwoosnam commented on #8
@nrshapiro I suppose it depends on which way you look at it. As far as I was concerned that session was not authorised to do a permit request therefore I returned Unauthorised.  I am using the same logic for my authenticate requests. If the request has an invalid username or password, or does not have a valid subscription, I pass back unauthorised.
Of course I can change this, but to be consistent

[2020-10-05 14:27] nrshapiro commented on #8
Remember, it's the server maknig the call--it's authorized to do so and the call actually succeeds (whereas Unauthorized suggests that it didn't).  But I've already worked around it.  So it's not a problem for the server.  I just think it's not correct from the Restful API conversation protocol.

[2020-10-05 14:45] nrshapiro opened #10 "Book Authorization"
Like a journal issue, some PEP books are split.  Currently, PaDS isn't giving out "true" access permits for a book that does not fall on the complete book ID's initial page.

Example::

When you authorize a journal article, you are looking at the journal code, and volume, which is part 1 and 2 of the PEP article ID, e.g., **_IJP.077_**.0022

Yes, you also asked for year, but in 99% of the cases, v

[2020-10-06 18:52] jwoosnam commented on #10
@nrshapiro this has now been resolved and released to stage as v06.04i

[2020-10-07 02:07] nrshapiro opened #11 "Logout"
Never mind....I see SessionId is a parameter, not the body.  I'm trying in my test routine to log a session out.  Following the PEPSecure OpenAPI spec: https://app.swaggerhub.com/apis/nrshapiro/PEPSecure/1.03#/developers/Logout

[2020-10-07 02:10] #11 closed, assigned to jwoosnam

[2020-10-07 11:40] jwoosnam commented on #4
As of PaDS v06.04h users with Company Admin privileges to PEP on PaDS can use their logon on the new client and will get admin privileges which initially will give them access to all PEPweb content.

[2020-10-07 11:40] #4 closed, assigned to adistasio, jwoosnam

[2020-10-07 11:41] #7 closed, assigned to billdami, adistasio, nrshapiro

[2020-10-07 11:41] #10 closed, assigned to nrshapiro, jwoosnam

[2020-10-07 11:52] jwoosnam opened #12 "IP Authenticate requests"
I have included Alan in this issue but I think it mainly concerns Neil.
The server with the IP address 3.234.215.231 is calling IP authenticate every second or so, 24 hours a day.

Is this necessary?

The session ID created never seems to be used for anything else and the number of records in my logs, will at some point become excessive, makes it difficult to track other things we are investigatin

[2020-10-07 12:44] nrshapiro commented on #12
@jwoosnam @adistasio @lhorne-gavant

The server calls IP authenticate to get a sessionID whenever a call is made to it without a sessionid, since it needs a session id to ask you about the session when they do a search.  But if someone calls one of the non-search functions, like Status, it will request a session_id just for that call.

It does seem that someone is calling it repeatedly -- but they

[2020-10-07 13:05] nrshapiro commented on #12
@jwoosnam
James, can you create a new endpoint to simply request a session id?  That's probably better than using the side effect of the IP authenticate (which I'm using, even though my IP isn't going to authenticate).  It would be then easier to trace any issues as well.

Something like:

/PEPSecure/api/v1/Authenticate/StartSession or just /PEPSecure/api/v1/Authenticate/Session

[2020-10-07 13:50] jwoosnam commented on #12
@adistasio, I thought the first thing the client did was to do an IP Authenticate to get a session ID and potentially a valid logon. How is OPAS getting requests from the client without a sessionId?

@nrshapiro  If there is no session ID then the user can't be logged on, so why do you need to contact PaDS.  They are not authenticated and therefore have no access.

[2020-10-07 13:56] nrshapiro commented on #12
@jwoosnam  Because the server doesn't require that the client is logged on for most things.  And it's stateless.  But it still needs to log activity, so it needs a session id, since that's the key for the logs and many other things.

And there's no guarantee that someone else isn't calling the server besides the Gavant client.  It's an open access server.

In fact--that brings up a great point--it

[2020-10-07 14:23] jwoosnam commented on #12
@nrshapiro Using the Authenticate/IP end point is not a problem for the rare number of times your server won't be contacted from the client. I was just concerned it was happening so often for no apparatus reason.

[2020-10-07 14:30] nrshapiro commented on #12
@adistasio @jwoosnam

Looking at the cloudwatch logs, someone is calling /v2/Session/Status repeatedly.  It's not PEP-Easy.  (I've disabled it--or tried to--it still seems to be cached--anyway for now until I can update it for the new login methods).

[2020-10-07 15:49] adistasio commented on #12
@nrshapiro @jwoosnam

Yes so beanstalk is pinging that endpoint to ensure the application is running. This is what tells beanstalk if the application dies and needs to restart it. I believe this endpoint should not require a session-id and not ask for one. Beanstalk will never have a session and we don't need this end point for tracking purposes.

[2020-10-07 16:05] nrshapiro commented on #12
@adistasio @jwoosnam

Well that endpoint offers more information about the setup to the admin, so it needed to use a session_id to see whether the user was an admin.

Do you want to see if the server is alive, or do you care about solr/rds too?

If only the server, I can give you a different endpoint to check if it's alive.  That one calls Solr and RDS each to check their status.  If you don't car

[2020-10-07 16:30] adistasio commented on #12
@nrshapiro Yes we just need to see if the server is alive, we don't care about solr/rds with this check. If the server isn't alive beanstalk would cycle a new one. Let me know when /v2/Api/Status is ready for us and we can swap beanstalk to look at that.

[2020-10-07 21:38] nrshapiro commented on #12
@adistasio @lhorne-gavant

I just pushed it to stage-api...should be there in minutes.

Call is as described /v2/Api/Status

Documentation (no params) on [http://stage-api.pep-web.rocks/docs](http://stage-api.pep-web.rocks/docs)

[2020-10-07 21:58] nrshapiro commented on #12
@adistasio @lhorne-gavant @jwoosnam

Ok, I figured you folks may have gone home, and watching the logs, it was creating so many endpoints.  So I TEMPORARILY mapped both endpoints to the code in v2/Api/Status.  Let me know when you fix the heartbeat timer and then I'll reattach the /v2/Session/Status endpoint back to the regular code.

Sorry it took me so long--it took 10 minutes to add the new end

[2020-10-08 12:36] lhorne-gavant commented on #12
@nrshapiro Staging is now using the new endpoint.

[2020-10-08 15:40] jwoosnam commented on #12
Thanks to all the number of Authenticate IP calls has reduced dramatically.

[2020-10-08 15:40] #12 closed, assigned to adistasio, nrshapiro

[2020-12-15 19:28] nrshapiro opened #13 "Permit Exceptions"
@adistasio @jwoosnam

We have some instances which need to be individually given permits to read.  I think you said you have this ability in PaDS.  By design, any article with an article ID ending in page 0000A is actually a TOC instance and should be freely open for viewing.

This was intended for split books, but looking at the data set, there are 4 articles or so, all editorial board lists, whi

[2020-12-18 09:40] jwoosnam commented on #13
Yes the new system can give access to individual documents, but for this I think the most flexible is to have a Universal Permits exception driven by a regular expression match against the full document ID.  For now it will just allow docs ending 0000A, but could be extended via the regular expression pattern stored as a database parameter.
I hope to implement this later today.

[2021-02-09 16:56] jwoosnam opened #14 "User Alerts"
@adistasio @nrshapiro
I have now released a new version of pads to stage to handle user alert processing. The user Put API now takes two new fields SendJournalAlert and SendVideoAlerts.  These fields are returned on the user details API.

There is also a new API to return the list of users who have selected one of the alerts.  When required someone will need to send me a mobile number and I will s

[2021-03-08 04:04] #9 closed, assigned to jwoosnam

[2021-03-23 19:01] jwoosnam opened #15 "Double Login Authenticate"
Need to stored last login method against a user, and the group user used to login with.  If the user changes to individual logon if previously a double logon (Federated, IP, Referrer) then the logon should be refused and the user given a relevant error message.  See Zedra SIR5217.

[2021-05-15 13:13] nrshapiro opened #16 "Moderator level user"
For our client app admin, we need a user permission level, not quite an "Admin", associated with the role of "Moderator" who can then do the tasks as shown below in the client app core requirements reproduced below (with progress comments):

9) 2.7 Admin
 2. [Core]​ AdminMode shall provide configuration as it affects various APP features tagged throughout this document.
 3. [Core]​ There shall be

[2021-05-17 08:08] jwoosnam commented on #16
@nrshapiro
A couple of questions:
- Would a moderator have any rights in PaDS?  Other than to recover their password.
- Will a moderator get universal access to PEP Web, current & archive, like admin?
- I assume all the control of what they can, and can't, do will be programmed into the client.

[2021-05-17 12:43] nrshapiro commented on #16
- Would a moderator have any rights in PaDS? Other than to recover their password.
   - No.
- Will a moderator get universal access to PEP Web, current & archive, like admin?
   - I would think it best if changing a registered user to a moderator would not change their access.  It would only affect what they could do on the PEP-Client.  So if they already have access, or later are granted access,

[2022-01-11 14:43] nrshapiro opened #17 "IJPOpen authorization not active"
I tried to use my neilshapironet account which has IJPOpen access to read IJOPen on Stage and it was denied.

Here's the PaDS message: (User has no access to PEP full content.)

Might be right if the account had no access to anything, though I would think for a IJPOpen user account, IJPOpen should have a different message.  It looks like my account has access to IJPOpen until 2024, but maybe I'm r

[2022-01-11 16:03] jwoosnam commented on #17
This is the first I have heard that pads needs to do anything for the new IJPOpen.  I tried looking on production but found no I JP open so I looked on stage and there it was. On pads I will need to create a new content set and link it to the IJP open product. I will let you know when this has been done.

[2022-01-12 00:25] nrshapiro commented on #17
I would think you already have a product IJPOpen for independent (free) purchase.  In fact, I subscribed to it today on one of my accounts.  It's always been available as both a separate free product, and part of the paid PEP Archive subscription, right?

And the account discussed above already had such a subscription.

Now indeed, we didn't know before whether David was going to carry this forwar

[2022-01-12 04:10] nrshapiro opened #18 "PEPFuture journals now part of PEPArchive and PEPCurrent"
FYI, I'm in the process of setting everything up to be transitioned per our annual plan, to production on Jan 22.  This weekend, finishing up this morning, I reprocessed all the data per below so the following should be reflected by the server on Stage.

For the 2022 build now on Stage:
   - I've moved another year from PEPCurrent for each applicable journal out of that "embargo" into the PEPArchi

[2022-01-12 12:03] jwoosnam commented on #17
Sorry, when I said I found no IJP open on production I meant I found no IJP open **journal** in the Pads catalogue, downloaded from OPAS, therefore I had nothing to link my content set to.

I have now gone on to stage PaDS and have added a content set for IJP open linked to the IJPOpen journal, and the IJPOpen product you mentioned has been linked to this content set.  This means that anybody with

[2022-01-12 12:04] jwoosnam commented on #17
This content set will have to be duplicated on production once you push IJPOpen to production.

[2022-01-12 12:11] jwoosnam commented on #18
The population of the pads stage content database from OPAS, was last run on the 8th of January.

I have set it off again now so by the time you start work it should be up to date! I am around this afternoon if you want to discuss.

[2022-01-12 14:28] nrshapiro commented on #18
I see the issue...the RDS product table for journals on Stage was not updated (and that's where the journal metadata comes from, rather than the Solr database, which covers the article level, where I was looking!).  I'm going to put a test in to catch that.

I know you and Leyla are working on automatic triggering, but until that's ready, if it's easy and you can retrigger the scan now that I've u

[2022-01-18 12:30] jwoosnam commented on #18
PaDS Stage has now been updated to v06.21a, this incorporated access classification support into the ContentSets and therefore lets admin user see all content.

[2022-01-18 12:30] #18 closed, assigned to jwoosnam

[2022-01-18 13:22] nrshapiro opened #19 "Pads calling Opas Server without Session ID"
The server error log is generally quiet these days.  However, when PaDS calls to get metadata, it isn't sending a session ID and the log fills with these calls.  More importantly, for each of those calls, the server then calls Pads to get a session ID and each one is "generated" anew!

Can you check to see if you are not including one, or if you are, send me a sample of the call parameters and hea

[2022-01-18 14:45] jwoosnam commented on #19
I can confirm that I am NOT sending a session ID. Where would you like me to include it?
This is an example of the main metadata call:
https://stage-api.pep-web.org/v2/Metadata/Contents/ADPSA/1/?limit=10000

I also do the session call every hour:
https://stage-api.pep-web.org/v2/Admin/Reports/Session-Log?startdate=20220118123209&limit=50000&offset=0&download=false&sortorder=asc

Neither of these h

[2022-01-18 20:24] nrshapiro commented on #19
1.  As to the Metadata/Contents call, session id is not 'required'.  But since now I track logged in and non logged in user activity, and the key for that is session id in the endpoint tables (and the session table), when I don't get one, I get one from PaDS.  But that means in your case there are hundreds(?) of session ids requested of PaDS while you are grabbing metadata.

And I recently started

[2022-01-19 07:29] jwoosnam commented on #19
Your right client-session for an admin user is being passed for session log calls. I will pass it in the header for content calls.

[2022-01-20 00:34] nrshapiro opened #20 "IJPOpen"
James, it may be you just haven't set up the subscriptions for IJPOpen yet, but I wanted to call attention to this because we are planning to go live Monday, if there aren't any show stopper issues.

But @rickardnyman please confirm with DT, but my understanding from before is that:

1) IJPOpen has its own subscription, which is free
2) All PEPArchive users get IJPOpen automatically.

Subscription

[2022-01-20 00:50] nrshapiro commented on #20
Maybe something else is up.  My tests are failing.  I set up one to use my neilshapironet user which is IJPOpen only and it passed this weekend, but now fails.  Interactively retesting, I see:

<img width="1332" alt="image" src="https://user-images.githubusercontent.com/4837554/150242208-e42e5b3a-65ab-455c-82c4-2a5117054d6c.png">

[2022-01-20 07:01] jwoosnam commented on #20
I am not sure if point 2 above is correct. At present PaDS PEP Archive subscribers only have access to IJP Open as abstracts.  I will wait for David to respond.
If required it is a simple change to the PaDS content sets.

There was a recent change to allow PaDS content sets to make use of the newish AccessClassification field.  The IJP Open content set was set to Archive only.  I have now changed

[2022-01-20 17:56] nrshapiro commented on #20
@jwoosnam

David responded:
  "All pepweb subscribers see IJPO."

(By that he means PEPArchive, and "see" means full access.  He doesn't really want them to be able comment, but that's another big discussion for later.)

And...My IJPOpen only account is working again, thanks.

[2022-01-21 11:23] jwoosnam commented on #20
I have adjusted the product/content sets on PaDS **Stage** so that PEP users have full read access to any issue of the IJP Open "Journal" documents, if they have a subscription to any of the following products:
Pepweb3y
PEPWeb
PEPComp1
PEPComp
PEPWEBS
Pwi
Pwr

I have a script to replicate this on PaDS production which will need to be run after the new PEP version is pushed to production.
@nrshapir

[2022-01-21 13:44] davidtuckett commented on #20
To be clear. How this was meant to work - reolicatig the old system -was as follows:
1. All active logged pepweb subscribers can view the papers.
2. I dont mind if  commentary is also visible.
2. But only IJP Open subscribers can comment.
I have agreed with Neil that if we cant do this now we look at it later.

[2022-01-21 15:17] nrshapiro opened #21 "PCAS (PEPFuture) message from PaDS"
The PaDS portion of this message on Stage will look a bit odd to users (the part in parentheses, which comes from PaDS).

PCAS is the only journal that's in PEPFuture on Stage.

"""
This journal is in the process of being added to PEP-Web. This is content planned for the next release. It may be available on the publisher's website here. (Details of Item:PCAS can't be found on PaDS.)
"""

(A data u

[2022-01-21 16:20] jwoosnam commented on #21
From what I understood, and I thought was happening previously, all journals should be on pads even if they are future journals.  The journal PCAS is not on PaDS.
If I try https://stage-api.pep-web.org/v2/Metadata/Journals no PCAS is returned.

[2022-01-21 16:25] nrshapiro commented on #21
@jwoosnam

Yes, I was just thinking about that...yesterday, I made a change to the active journal flag so PEPFuture documents could be excluded from the statistics/journal count.  There must be a view on Stage I need to update.  Let me look into that.

[2022-01-21 16:45] jwoosnam commented on #20
I am sorry David this is still not completely clear. The list of PaDS products I put in my previous comment are all the products which give access to Archive (non-embargoed) documents on PEP. When you say "PEPweb subscribers" I think you mean all of these people, not just the people who are subscribed to the product "PEPweb", which would just be the group subscriptions, for instance various Psycho

[2022-01-21 16:48] davidtuckett commented on #20
Yes. Your list defines pepweb subscribers ie those who should have access to Archive (non-embargoed) documents on PEP. Noted re commentary,
D

[2022-01-21 19:39] nrshapiro commented on #17
@jwoosnam

FYI - One of my automated server tests is still failing, it could be part of the update issue, but just in case:

User Test7 which is PEPArchive renewing does not get access to IJPOpen and it should:

<img width="362" alt="image" src="https://user-images.githubusercontent.com/4837554/150589786-97fe4977-84b3-414f-84e5-17f4a31a55f5.png">

<img width="1890" alt="image" src="https://user-im

[2022-01-21 20:26] jwoosnam commented on #17
The test users are set up to work with test products which are deleted and
re-created to guarantee consistency for my testing of the functionality of
the software. My tests don’t have a IJP open product.
I think we might need additional users to test the configuration of the
live data setup.

On Fri, 21 Jan 2022 at 19:39, Neil Shapiro ***@***.***> wrote:

--
James Woosnam
Zedra Solutions
077035257

[2022-01-22 14:20] nrshapiro commented on #21
@jwoosnam

Stage was updated last night, after fixing this issue (return of PCAS).  I assume the reload of PaDS info was called automatically at the end of that (good test to see if that's true.)  But FYI still getting the error this morning though.

<img width="528" alt="image" src="https://user-images.githubusercontent.com/4837554/150642142-cfaf4b5e-e12d-4bd8-aa1d-145914591b73.png">

[2022-01-23 05:16] nrshapiro opened #22 "Error Message from Pads For this document request"
When I ask for this document on Stage, I get a strange error from PaDS

https://stage.pep-web.org/search/document/APS.004.0135A?page=P0957&q=flotsam

This gives an error:
https://stage-pads.pep-web.org/PEPSecure/api/v1/Permits?SessionId=90c7fe7e-ea9e-4087-8afc-2d5ccbc4531e&DocId=APS.004.0135A&DocYear=2002&ReasonForCheck=DocumentView

vs this document request works fine:

https://stage-pads.pep-web

[2022-01-23 13:48] nrshapiro commented on #22
@jwoosnam After doing a reload, things are working again.  Perhaps I wasn't manually triggering the metadata update on PaDS correctly, or it was just out of sync with my updates to the RDS table.  Running a rebuild of the Solr database last night (and it presumably triggered a metadata rebuild on PaDS fixed it.  Still it would be nice to know for the future which field was causing the string/int c

[2022-01-23 13:48] #22 closed, assigned to jwoosnam

[2022-01-24 08:01] jwoosnam commented on #21
The content had not been reloaded.  I have started the job manually and
PCAS is now listed as future.

On Sat, 22 Jan 2022 at 14:20, Neil Shapiro ***@***.***> wrote:

[2022-01-24 09:51] jwoosnam commented on #22
It is the PEPRelease on APS.  On the load I did 23/01/2022 03:27:03 GMT, it
came over as blank.  I also notice that the video IJPVS is also blank.  I
re-ran the get content job and the PEPRelease field of APS is now 2017,
but video IJPVS is still blank.

I will add code to PaDS to check for blank PEP release fields.

On Sun, 23 Jan 2022 at 05:16, Neil Shapiro ***@***.***> wrote:

[2022-01-25 21:00] nrshapiro opened #23 "Removing Offsite Books from our book list"
@jwoosnam @rickardnyman

In my QA I realize that the two books by Kohut:

https://stage.pep-web.org/browse/document/ZBK.049.0001A
https://stage.pep-web.org/browse/document/ZBK.034.0001A

are offsite books which I am inadvertently handling differently than we used to.  We have the full-text of these books in the database, so they may show up in any search results, but we have never before included

[2022-01-25 21:07] nrshapiro commented on #23
Testing the proposed fix on my local machine.

Here's what it looks like to Test7 when preferences are set to preview window:

![2022-01-25_16h05_01](https://user-images.githubusercontent.com/4837554/151059805-91f24c03-0a42-49ce-a7b0-d21d11630ed8.jpg)

And if preferences are set to automatically jump to the read pane:

<img width="1182" alt="image" src="https://user-images.githubusercontent.com/48

[2022-01-26 12:50] jwoosnam commented on #23
I am not sure I can add much to this. When I try and look at one of these
documents PaDS is not being asked about it.

On Tue, 25 Jan 2022 at 21:08, Neil Shapiro ***@***.***> wrote:

[2022-01-26 16:39] nrshapiro commented on #23
@jwoosnam

Yes, sorry--since I am still trying to have a single version up long enough for a lot of testing, I pushed the change to stage last night.  So it's not asking anymore.  But if that change -- not asking PaDS -- doesn't seem to affect anything you NEED to know about via that call, then all is well.

[2022-01-27 14:26] #23 closed, assigned to jwoosnam

[2022-01-27 14:27] #8 closed, assigned to jwoosnam

[2022-01-27 14:27] #19 closed, assigned to jwoosnam

[2022-01-27 14:43] nrshapiro commented on #17
@jwoosnam

Can you please make sure we have a sample of each user type (account permissions) in the test set?  I have automated tests on the server, as best as I could configure using the test accounts...but I had to use my own account in some cases, like IJPOpen.

I want them to persist so we can always test access for user types in the server, what should pass, what should succeed.

My tests als

[2022-02-07 18:35] nrshapiro opened #24 "Watching error logs - being hacked or system troubles?"
I wanted to document this here, but I have not investigated who/what is behind these sessions and these problem calls/links:

[code]

The document keys are not quite right either...could be an error in some link, or given all of the above, someone trying to hack the system?

[2022-02-07 20:19] jwoosnam commented on #24
@nrshapiro this is not a hack.  Session eedab33c-b561-40da-aa4f-69010d167ee3 is a user, Simona Barra, who registered with PEP today, but has no subscription.  There are hundreds of AuthenticateFromIP & GetUser calls, which are filling up my logs, but I don't think it is anything suspicious from my end.

[2022-02-07 20:31] jwoosnam commented on #24
@nrshapiro I have finished work for the day, but I just had a random look at a few sessions of people who were logged on with subscriptions, and they too are producing hundreds of what appeared to be on that necessary IP authenticate and get user calls.
The session below did a few successful document reads yesterday, but has been producing IP authenticate and get user calls ever since!!!!
<img wid

[2022-04-23 14:39] nrshapiro opened #25 "User Permissions versus Document Read Permissions"
We had a user report that was perplexing.  https://github.com/Psychoanalytic-Electronic-Publishing/Support/issues/312

I spoofed her, and see that the server gets the following information from PaDS.

Spoofed Session:
6acea512-4682-4d9e-991d-173fa239a1cd

pads_user_info, status_code = get_authserver_session_userinfo("6acea512-4682-4d9e-991d-173fa239a1cd", client_id, addl_log_info=" (complete sessi

[2022-04-25 08:56] jwoosnam commented on #25
It was reporting current as the JV103 content set was marked as current, presumably meaning that JV103 users can see all current IJP documents.  I have now changed it to False and I believe it is behaving as you would expect.

[2022-04-25 08:56] #25 closed, assigned to jwoosnam

[2022-06-06 11:29] nrshapiro commented on #17
@jwoosnam

FIRST NOTE: This problem isn't about IJPOpen...the prior note confused me, since that's related to the testing...but here's the bug report:

https://github.com/Psychoanalytic-Electronic-Publishing/PaDS/issues/26

[2022-06-06 18:04] nrshapiro opened #26 "Test User Problems on Stage - Can't view full article data, and misleading PaDS messages."
**Moved from my mistake putting on an existing issue about IJPOpen...it's actually about the test IDs and getting errors from them on stage.**

I'm having problems with the test ids.  For my test suite, I need a few "always there" test IDx on Stage for these four user types:

PADS_TEST_ARCHIVEONLY = "test7"
PADS_TEST_IJPOPENONLY = "test3"
PADS_TEST_ARCHIVEANDCURRENT = "Test4"
PADS_TEST_REGISTEREDU

[2022-06-07 14:01] jwoosnam commented on #26
@nrshapiro
The AccessClassification data has now been correctly added to the test users and they are now working as previously.
Test3 has limited "current" IJP access and IJPOPEN access.

[2022-06-07 14:01] jwoosnam commented on #17
@nrshapiro
User Test3 now has had IJP Open access added.